.root{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 40px;
    
        .form{
            display:flex;
            flex-direction: column;
            gap: 20px;
            max-width: 400px;
            padding-bottom: 50px;
        }
    }